<%- include('layout/header.ejs')%>
   <title>Product</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    </head>

    <body>

        <form method="POST" action="/addToCart" id="productForm">
            <input type="hidden" name="id" value=<%=product.id%> />
            <div id="container">
                <div>
                    <label for="name">Name : </label>
                    <%=product.name%>
                </div>
                <div>
                    <label for="description">Description : </label>               
                    <%=product.description%>
                </div>
                <div>
                    <label for="price">Price : </label>
                    <%=product.price%>
                </div>
                <input type="hidden" name="name" value=<%=product.name %> />
                <input type="hidden" name="price" value=<%=product.price%> />
                <span>
                    <input type="submit" value="Add to cart " />
                </span>
                <div id="msg">
                    Item added successfully!
                </div>
                <span>
                    <button><a id="linktocart" href="/shoppingCart">Click here to see cart..</a>
                </span>
            </div>
        </form>       
        <%- include('layout/footer.ejs')%>